---
layout: general
title: Fractal Exploration Tool
description: 'Fractal Explorer - Zoom in and out of the Mandelbrot Set, customize the colors, and buy personalized prints.'
jquery_ui: true
hammer_js: true
script: /js/mandelbrot-worker.js
script_2: /js/mandelbrot.js
script_3: https://js.stripe.com/v2/
---
.canvas-content
  %canvas#canvas{height: '120', width: '180'}
  %canvas#canvas-overlay{height: '120', width: '180'}
.settings.settings-hidden
  %a.settings-icon{href: '#settings'}
    %span
  .settings-content
    %button.back.display-none Back
    .setting.settings-navigation.settings-component.row
      .clear.text-center
        .clearfix
          %a.half-width{href: '/how-to.html', target: '_blank'} How To
          %a.half-width{href: '/about.html', target: '_blank'} About
          %a.half-width{href: '/gallery.html', target: '_blank'} Gallery
          %a.half-width{href: '/donate.html', target: '_blank'} Donate
        %hr
        .clearfix
          %button.colors-setting{title: 'Hotkey C'} Colors
          %button.controls-setting{title: 'Hotkey T'} Controls
          %button.share-setting Share
          %button.buy-print-setting Buy Print
    .setting.settings-component.colors.row
      .columns
        %label{for: 'gradient-colors-presets'} Color Presets
        %select#gradient-colors-presets.gradient-colors-presets
          %option
      .columns
        .colors-controls.half-width-buttons
          %button.reverse{title: 'Hotkey R'} Reverse
          %button.invert{title: 'Hotkey I'} Invert
      .gradient-colors
        .color.columns
          %input{type: 'color', value: '#000000'}
          .color-controls.clearfix
            .move ↕
            %button.plus +
            %button.minus -
    .setting.settings-component.controls.row
      .columns
        .clearfix
          .half-width-buttons
            .clearfix
              %button.less-detail{title: 'Hotkey L'} Less Detail
              %button.more-detail{title: 'Hotkey M'} More Detail
              %button.zoom-slower.no-margin-bottom{title: 'Hotkey -'} Zoom Slower
              %button.zoom-faster.no-margin-bottom{title: 'Hotkey +'} Zoom Faster
            .zoom-rate-meter-outer
              .zoom-rate-meter-inner
            /
              TODO
              %button.undo Undo
              %button.redoRedo
            %button.full-screen{title: 'Hotkey F11'} Full Screen
            %button.fit-to-screen Stretch
          %button.reset-zoom.full-width Zoom All The Way Out
        .clearfix
          %label
            Fractal Types
            %select.fractal
              %option{value: 'leaves'} Leaves
              %option{value: 'tendrils'} Tendrils
              %option{value: 'ocean-floor'} Ocean Floor
              %option{value: 'lace'} Lace
              %option{value: 'space'} Space
              %option{value: 'quantum'} Quantum
              %option{value: 'generalized-celtic'} Generalized Celtic
              %option{value: 'burning-ship'} Burning Ship
              %option{value: 'halloween'} Halloween
              %option{value: 'angles'} Angles
              %option{value: 'scenic'} Scenic
              %option{value: 'clouds'} Clouds
              %option{value: 'demons'} Demons
              / %option{value: 'test'} Test
          %button.advanced-controls-setting.full-width{title: 'Hotkey A'} Advanced Controls
    .setting.settings-component.advanced-controls.row
      .columns
        %label{for: 'max-iterations'} Max Iterations
        %input#max-iterations{type: 'text', value: '200'}
      .columns.small-6.medium-6.large-6
        %label{for: 'canvas-width'} Width
        %input#canvas-width{type: 'text', value: '180'}
      .columns.small-6.medium-6.large-6
        %label{for: 'canvas-height'} Height
        %input#canvas-height{type: 'text', value: '120'}
      .columns
        %label{for: 'zoom-rate'} Zoom Rate
        %input#zoom-rate{type: 'text', value: '3'}
        %label{for: 'zoom-level'} Zoom Level
        %input#zoom-level{type: 'text', value: '60'}
        %label{for: 'x'} X - Real
        %input#x{type: 'text', value: '-0.75'}
        %label{for: 'y'} Y - Imaginary
        %input#y{type: 'text', value: '0'}
    .setting.settings-component.share.row
      .columns
        %label{for: 'share-url'} Permalink
        %input#share-url{type: 'text'}
        %hr
        %p.text-center
          PNG Image
          %span.canvas-dimensions
        %img.generated-png/
    .setting.settings-component.buy-print.row
      .columns
        Total Including Shipping
        %strong.total $0.00
      .columns
        .buy-print-error.error
        %hr
      .buy-print-step.size-and-orientation
        %form{action: '/buy-print/', method: 'get', target: '_blank'}
          .columns
            %label
              Print Size
              %select.print-size{name: 'print-size'}
          .columns
            %label
              Print Orientation
              %select{name: 'print-orientation'}
                %option{value: 'landscape'} Landscape
                %option{value: 'portrait'} Portrait
        .columns
          %button.buy-print-preview.full-width Preview
        .columns
          %hr
          %button.payment-step.full-width Next Step
      .buy-print-step.payment
        %form.create-payment-token-form{autocomplete: 'off'}
          .columns.large-8.medium-8.small-8
            %label
              %span Card Number
              %input{'data-stripe' => 'number', size: '20', type: 'text'}
          .columns.large-3.medium-3.small-3
            %label
              %span CVC
              %input{'data-stripe' => 'cvc', size: '4', type: 'text'}
          .columns.large-1.medium-1.small-1
          .columns
            %span Expiration
          .columns.large-3.medium-3.small-3
            %label
              %span MM
              %input{'data-stripe' => 'exp-month', size: '2', type: 'text'}
          .columns.large-4.medium-4.small-4
            %label
              %span YYYY
              %input{'data-stripe' => 'exp-year', size: '4', type: 'text'}
          .columns.large-5.medium-5.small-5
        .columns
          %hr
          %button.size-and-orientation-step.half-width.left Print Size
          %button.create-payment-token.half-width Shipping
      .buy-print-step.shipping
        %form.ship-print-form{action: '/buy-print/', autocomplete: 'off', method: 'post'}
          %input#buy-print-token{type: 'hidden'}
          .columns
            %label
              %span Name
              %input#shipping-name{type: 'text'}
          .columns
            %label
              %span Shipping Address
              %input#shipping-address{size: '4', type: 'text'}
          .columns
            %label
              %span City
              %input#shipping-city{size: '4', type: 'text'}
          .columns.large-3.medium-3.small-3
            %label
              %span State
              %input#shipping-state{size: '2', type: 'text'}
          .columns.large-6.medium-6.small-6
            %label
              %span Zip
              %input#shipping-zip{size: '4', type: 'text'}
          .columns.large-3.medium-3.small-3
          .columns
            %label
              %span Email
              %input#shipping-email{type: 'email'}
          .columns
            %hr
            %button.full-width Submit Order
        .columns
          %hr
          %button.payment-step.full-width Back to Payment
      .buy-print-step.success
        .columns
          %h4 Success!!
          %p
            We have received your order.
          %p
            We sent you an email receipt. Make sure you receive it, it should only take a few minutes. If you don't get it, please
            = succeed '.' do
              %a{href: '/about.html'} contact us
          %button.size-and-orientation-step.full-width Buy Another Print