---
layout: general
title: How To
description: 'What is Fire Fractal? The past, present, and future.'
nav: true
---
.row.text-left
  .columns.medium-6.large-6
    %h1 Feedback
    %form#feedback-form{:action => "/feedback", :method => "post", :target => "_blank"}
      .row
        .columns.large-6.medium-6
          %input{:name => "name", :placeholder => "Name (Optional)", :type => "text"}/
      .row
        .columns.large-6.medium-6
          %input{:name => "email", :placeholder => "Email (Optional)", :type => "text"}/
      .row
        .columns
          %textarea{:name => "message", :placeholder => "Feedback (Required)", :rows => "10"}
      %input{:name => "subject", :type => "hidden", :value => "Feedback - firefractal.com"}/
      %button.full-width{:type => "submit"} Send Feedback
    :javascript
      $( '#feedback-form' ).submit( feedback_form_sumbission );
      function feedback_form_sumbission( submission_event )
      {
        submission_event.preventDefault();
        var feedback_submission_name = $( '#feedback-form [name=name]' ).val();
        var feedback_submission_email = $( '#feedback-form [name=email]' ).val();
        var feedback_submission_message = $( '#feedback-form [name=message]' ).val();
        if ( feedback_submission_message === '' )
        {
          alert( "The Message field is required." );
          $( '#feedback-form [name=message]' ).focus();
          return;
        }
        var feedback_sumbission_object = new Object;
        feedback_sumbission_object[ 'name' ] = feedback_submission_name;
        feedback_sumbission_object[ 'email' ] = feedback_submission_email;
        feedback_sumbission_object[ 'message' ] = feedback_submission_message;
        $.post( '/feedback', feedback_sumbission_object )
          .done(
            function() {
              alert( 'Thank you for your feedback.'  );
              $( '#feedback-form [name=name]' ).val( '' );
              $( '#feedback-form [name=email]' ).val( '' );
              $( '#feedback-form [name=message]' ).val( '' );
            }
          )
          .fail(
            function() {
              alert( 'Connection with the server failed. Please check your internet connection. Otherwise, something is wrong on our end - please try again later.' );
            }
          );
      }
    %h1 FAQ
    %p
      %strong Q:
      What is this site for?
    %p
      %strong A:
      Firefractal.com was created with the dream of making it possible for anyone to explore the Mandelbrot Set and print high quality, cost effective fractal prints of their own creation.
    %p
      %strong Q:
      If I zoom in really far, the image becomes pixelated. Is this a bug?
    %p
      %strong A:
      This is a limitation of JavaScript/web browsers. For computer/math people, JavaScript is limited to 64bit floats. An arbitrary precision approach may be implemented in the future.
    %p
      %strong Q:
      What sets firefractal.com apart from the others?
    %strong A:
    The way the Mandelbrot Set is portrayed here is, as far as we know, unique for the following reasons:
    %ol
      %li
        Other software tends to use a set range of colors - usually a rainbow so that it overflows to the other end of the spectrum without any additional effort. We intentionally avoided this technique in favor of custom gradient colors. Originally just two, which we still think produces some of the nicest imagery.
      %li
        Other software tends not utilize the entire range of colors available. This is silly. For example, the minimum iteration will often be something like 14. We use an equation to map iterations to
        %em all
        available colors, resulting in more prominent contrast and ultimately more beautiful imagery.
    %p
      %strong Q:
      How many calculations does the computer do to make one image?
    %p
      %strong A:
      Using a large monitor with high detail, one frame can be around five and a half billion calculations, performed by your browser. Hard to imagine.
  .columns.medium-6.large-6
    %h1 About
    %p
      %strong Fun Fact
      \- Here is a list of all of the technologies combined together to make this project happen!
    %ol
      %li
        %strong
          %a{:href => "https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5"} HTML5
        makes web developers' lives easier in many ways compared with older standards such as XHTML.
      %li
        %strong
          %a{:href => "https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial"} Canvas
        is a two or three dimensional pixel based technology which is built into HTML5. (Pixel based is also known as raster based - as opposed to vector based.) The images you see of the Mandelbrot Set are painted using the &lt;canvas&gt; element.
      %li
        %strong
          %a{:href => "https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers"} Web Workers
        are a technique used to run separate processes to avoid blocking the main JavaScript thread. In a way, they are like AJAX requests to other tabs without the use of the DOM. The images you see of the Mandelbrot Set are generated section by section using web workers.
      %li
        %strong
          %a{:href => "http://foundation.zurb.com/"} Foundation
        is a tremendously fantastic CSS framework. It is probably the best in existence for mobile-first design. It makes designing and developing websites for all platforms and screen sizes a breeze.
      %li
        %strong
          %a{:href => "http://sass-lang.com/"} SASS
        is a CSS preprocessor. It is what CSS should have been. It includes variables, nesting, inheritance, mixins, operators, etc. All sorts of lovely things! It is a huge time and effort saver.
      %li
        %strong
          %a{:href => "http://jquery.com"} jQuery
        is the most popular JavaScript framework. Foundation depends on jQuery. It isn't necessarily the best from a language design perspective, but its collection of libraries outclasses any other framework.
      %li
        %strong
          %a{:href => "https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial"} SVG
        is a vector based image stored as XML. Because SVG images are text files, they are stunningly small. Vector based images also have the advantage of displaying brilliantly on retina displays. Software like Illustrator and Inkscape are natively vector based and can both export images to SVG. The images on the
        %a{:href => "how-to.html"} How To
        page were written by hand in a text editor.
        = succeed "." do
          %a{:href => "/images/zoom-in.svg", :target => "_blank"} Take a look at the page source
      %li
        %strong
          %a{:href => "https://www.centos.org/"} CentOS
        is the open source, stable distribution of Linux in the (commercial) Red Hat family. Stable means it uses the tried and true rather than the very latest (sometimes buggy or vulnerable) versions of software.
      %li
        %strong
          %a{:href => "http://www.haproxy.org/"} HAProxy
        (short for High Availability Proxy), is server load-balancing software which is very easy to install and configure for small and large scale projects.
      %li
        %strong
          %a{:href => "https://golang.org/"} Go
        is a compiled and strictly typed language invented by three (awesome) Google employees. It is lightning fast, and tries to be a friend to the developer as much as possible.
      %li
        %strong
          %a{:href => "http://internet.bs"} Internet.bs
        is a domain registrar with very competitive prices and a fairly good user interface.
    %p
      Most websites have a laundry list of technologies of similar length to this one and it takes on the order of 400 man hours to produce this type of project. The software behind the scenes has been through many iterations (JavaScript, C, Processing, Go, Common Lisp, and a number of ground-up JavaScript rewrites).
  .text-center.medium-margin
    %a{:href => "/", :title => "Explore"}
      %img{:alt => "Fire Fractal Logo", :src => "/images/firefractal-logo.png"}/