---
title: Donate
layout: general
nav: true
utilities: true
script: https://checkout.stripe.com/checkout.js
script_2: /js/donate.js
---
.row
  .columns
    %h1 Donate
.row
  .columns.large-8.medium-8
    %label
      .payment-amount-error.error
      %input.large#payment-amount{type: "text", placeholder: "$20.00"}
  .columns.large-4.medium-4
    %button.button.large.expand
      Submit
:javascript
  document.getElementById('payment-amount').focus();
