---
layout: general
title: How To
description: 'How to use the fractal exploration interface, as well as tips and tricks.'
nav: true
---
.row.how-to
  .columns
    %h1.medium-margin How To
    .row.show-for-medium-up
      .columns.medium-6.large-6.separation.medium-padding-bottom
        %h4 Zoom In
        %img{alt: 'Zoom In', src: '/images/zoom-in.svg', title: 'Zoom In'}
      .columns.medium-6.large-6.separation.medium-padding-bottom
        %h4 Zoom Out
        %img{alt: 'Zoom Out', src: '/images/zoom-out.svg', title: 'Zoom Out'}
    .show-for-large-up.row
      .columns.medium-6.large-6.separation.medium-padding-bottom
        %h4 Left Click
        %img{alt: 'Left Click', src: '/images/left-click.svg', title: 'Left Click to Zoom In'}
      .columns.medium-6.large-6.separation.medium-padding-bottom
        %h4 Right Click
        %img{alt: 'Left Click', src: '/images/right-click.svg', title: 'Left Click to Zoom Out'}
    .row.medium-margin-bottom
      .columns.medium-6.large-6.separation.medium-padding-bottom
        %h4
          Tap
          %span.show-for-small-only To Zoom In
        %img{alt: 'Tap', src: '/images/one-finger-tap.svg', title: 'Tap to Zoom In'}
      .columns.medium-6.large-6.separation.medium-padding-bottom
        %h4
          Two Finger Tap
          %span.show-for-small-only To Zoom Out
        %img{alt: 'Two Finger Tap', src: '/images/two-finger-tap.svg', title: 'Two Finger Tap to Zoom Out'}
    .medium-margin-bottom  
    .row.show-for-large-up
      %h1 Shortcuts
      .instructions-keyboard-shortcuts
        %ul
          %li
            %strong +
            \:
            %span Zoom More
          %li
            %strong -
            \:
            %span Zoom Less
          %li
            %strong m
            \:
            %span More Detail
          %li
            %strong l
            \:
            %span Less Detail
          %li
            %strong s
            \:
            %span Open Settings
          %li
            %strong c
            \:
            %span Open Gradient Colors
          %li
            %strong t
            \:
            %span Open Controls
          %li
            %strong Esc
            \:
            %span Close Settings
          %li
            %strong r
            \:
            %span Reverse Gradient Colors
          %li
            %strong i
            \:
            %span Invert Gradient Colors
    .row.display-none
      %h1.medium-margin Tips &amp; Tricks
    .medium-margin
      %a{href: '/', title: 'Explore'}
        %img{alt: 'Fire Fractal Logo', src: '/images/firefractal-logo.png'}