---
layout: general
title: How To
description: 'How to use the fractal exploration interface, as well as tips and tricks.'
nav: true
---
.row.text-left
  .columns
    %h1 How To
.row
  .columns
    %strong Zoom In:
  .columns.medium-4.show-for-medium-up
    %p Left Click
    %img{alt: 'Left Click', src: '/images/left-click.svg', title: 'Left Click to Zoom In'}
  .columns.medium-4.left
    %p Tap
    %img{alt: 'Tap', src: '/images/one-finger-tap.svg', title: 'Tap to Zoom In'}
.row
  .columns
    %strong Zoom Out:
  .columns.medium-4.show-for-medium-up
    %p Right Click
    %img{alt: 'Left Click', src: '/images/right-click.svg', title: 'Left Click to Zoom Out'}
  .columns.medium-4.left
    %p Two Finger Tap
    %img{alt: 'Two Finger Tap', src: '/images/two-finger-tap.svg', title: 'Two Finger Tap to Zoom Out'}

.row.show-for-medium-up
  .columns
    %strong Keyboard Shortcuts:
    .instructions-keyboard-shortcuts
      %ul
        %li
          %strong +
          \:
          %span Zoom More
        %li
          %strong -
          \:
          %span Zoom Less
        %li
          %strong m
          \:
          %span More Detail
        %li
          %strong l
          \:
          %span Less Detail
        %li
          %strong s
          \:
          %span Open Settings
        %li
          %strong c
          \:
          %span Open Gradient Colors
        %li
          %strong t
          \:
          %span Open Controls
        %li
          %strong Esc
          \:
          %span Close Settings
        %li
          %strong r
          \:
          %span Reverse Gradient Colors
        %li
          %strong i
          \:
          %span Invert Gradient Colors
.row.display-none
  %h1 Tips &amp; Tricks
