---
layout: general
title: Fire Fractal
description: 'Beautiful fractal art for sale.'
script: /js/art-show.js
script_2: https://js.stripe.com/v2/

---
.row.text-left
  .columns
    %h1 Fire Fractal
  %hr

.row.buy-print
  .text-center
    %h2 Buy Print
    %p
      %img.buy-print-display
  .columns
    Total Including Shipping
    %strong.total $0.00
  .columns
    .buy-print-error.error
    %hr
  .buy-print-step.size-and-orientation
    %form{action: '/buy-print/', method: 'get', target: '_blank'}
      .columns
        %label
          Print Size
          %select{name: 'print-size'}
            %option{value: '11x8.5'} 11 x 8.5"
            %option{value: '24x18'} 24 x 18"
            %option{value: '32x16'} 32 x 16"
            %option{value: '48x16'} 48 x 16"
            %option{value: '60x30'} 60 x 30"
      .columns
        %label
          Print Orientation
          %select{name: 'print-orientation'}
            %option{value: 'landscape'} Landscape
            %option{value: 'portrait'} Portrait
    .columns
      %hr
      %button.payment-step.full-width Next Step
  .buy-print-step.payment
    %form.create-payment-token-form{autocomplete: 'off'}
      .columns.large-8.medium-8.small-8
        %label
          %span Card Number
          %input{'data-stripe' => 'number', size: '20', type: 'text'}
      .columns.large-3.medium-3.small-3
        %label
          %span CVC
          %input{'data-stripe' => 'cvc', size: '4', type: 'text'}
      .columns.large-1.medium-1.small-1
      .columns
        %span Expiration
      .columns.large-3.medium-3.small-3
        %label
          %span MM
          %input{'data-stripe' => 'exp-month', size: '2', type: 'text'}
      .columns.large-4.medium-4.small-4
        %label
          %span YYYY
          %input{'data-stripe' => 'exp-year', size: '4', type: 'text'}
      .columns.large-5.medium-5.small-5
    .columns
      %hr
      %button.size-and-orientation-step.half-width.left Print Size
      %button.create-payment-token.half-width Shipping
  .buy-print-step.shipping
    %form.ship-print-form{action: '/buy-print/', autocomplete: 'off', method: 'post'}
      %input#buy-print-token{type: 'hidden'}
      .columns
        %label
          %span Name
          %input#shipping-name{type: 'text'}
      .columns
        %label
          %span Shipping Address
          %input#shipping-address{size: '4', type: 'text'}
      .columns
        %label
          %span City
          %input#shipping-city{size: '4', type: 'text'}
      .columns.large-3.medium-3.small-3
        %label
          %span State
          %input#shipping-state{size: '2', type: 'text'}
      .columns.large-6.medium-6.small-6
        %label
          %span Zip
          %input#shipping-zip{size: '4', type: 'text'}
      .columns.large-3.medium-3.small-3
      .columns
        %label
          %span Email
          %input#shipping-email{type: 'email'}
      .columns
        %hr
        %button.full-width Submit Order
    .columns
      %hr
      %button.payment-step.full-width Back to Payment
  .buy-print-step.success
    .columns
      %h4 Success!!
      %p
        We have received your order.
      %p
        We sent you an email receipt. Make sure you receive it, it should only take a few minutes. If you don't get it, please
        = succeed '.' do
          %a{href: '/about.html'} contact us
      %button.size-and-orientation-step.full-width Buy Another Print

.row.gallery.art-show
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/blue-spiral-by-void.png', alt: '/explore/#zoom-level=1641305705&canvas-width=440&canvas-height=340&x=0.250388657742208&y=0.000012216857424334074&max-iterations=1000&gradient-colors=0000ff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/cyan-diamond-mandelbrot-with-webs.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/double-smoke-two-spiral.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/electric-eel-flexy-leaf-with-falling-voids.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/fire-four-swirl-with-octovoid.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/green-squiggly-spiral.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/light-embers-slight-spiral-with-bulbs.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/medusa-spiral-hand-island.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/neon-four-sun-tree-surrounded-island.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/neon-lightning-spiral-with-hands.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/neon-microbe-island.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/orange-lightning-island.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/orange-lightning-tendril-four-spin-island.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/pink-sharp-feather-mandelbrot-with-hands.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/priests-of-destiny.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/purple-inner-mandlerbrot-with-hooks.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/rainbow-eight-curly-mandelbrot-island.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/red-eight-star-spiral-with-galaxies.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/red-eight-star-with-four-stars-and-sea-horses.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/double-smoke-four-spiral-with-eight-merge-void.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/red-spider-galaxy-with-galaxy-void-four-to-eight-spiral.png', href: '/explore/#'}
  .columns.medium-6.large-4
    %img{src: '/images/gallery/art-show/soft-red-yellow-blue-round-mandelbrot.png', href: '/explore/#'}
  .columns.medium-6.large-4.left
    %img{src: '/images/gallery/art-show/teal-blue-spiral-hand-island.png', href: '/explore/#'}
  .columns.medium-6.large-4.left
    %img{src: '/images/gallery/art-show/the-face-of-hades.png', href: '/explore/#'}
  .columns.medium-6.large-4.left
    %img{src: '/images/gallery/art-show/water-wind-five-spiral.png', href: '/explore/#'}