---
layout: general
title: Fire Fractal
description: 'Beautiful fractal art. Prints available using metallic ink.'
nav: true
---
.row.text-left
  .columns
    %h1 Fire Fractal Gallery
  %hr

.row.gallery.art-show
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1641305705&canvas-width=440&canvas-height=340&x=0.250388657742208&y=0.000012216857424334074&max-iterations=1000&gradient-colors=0000ff000000&fractal=leaves'}
      %img{src: '/png?zoom-level=1641305705&canvas-width=440&canvas-height=340&x=0.250388657742208&y=0.000012216857424334074&max-iterations=1000&gradient-colors=0000ff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=2000000000&canvas-width=440&canvas-height=340&x=0.27726916606991536&y=0.007359977772021018&max-iterations=700&gradient-colors=00000000ffff000000&fractal=leaves'}
      %img{src: '/png?zoom-level=2000000000&canvas-width=440&canvas-height=340&x=0.27726916606991536&y=0.007359977772021018&max-iterations=700&gradient-colors=00000000ffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=200000000000&canvas-width=440&canvas-height=340&x=-1.40828279021&y=0.13655005149&max-iterations=2000&gradient-colors=ff0000151515ff0000151515000000&fractal=leaves'}
      %img{src: '/png?zoom-level=200000000000&canvas-width=440&canvas-height=340&x=-1.40828279021&y=0.13655005149&max-iterations=2000&gradient-colors=ff0000151515ff0000151515000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=23000000000000&canvas-width=440&canvas-height=340&x=-1.996375113655929&y=5.240898182559337e-8&max-iterations=1265&gradient-colors=00000000ffff004f4f00ffff004f4f00ffff004f4f00ffff004f4f00ffff004f4f00ffff004f4f00ffff000000&fractal=leaves'}
      %img{src: '/png?zoom-level=23000000000000&canvas-width=440&canvas-height=340&x=-1.996375113655929&y=5.240898182559337e-8&max-iterations=1265&gradient-colors=00000000ffff004f4f00ffff004f4f00ffff004f4f00ffff004f4f00ffff004f4f00ffff004f4f00ffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=700000000&canvas-width=440&canvas-height=340&x=0.2849168220165127&y=0.01109730176398834&max-iterations=180&gradient-colors=000000ff0000ff9000000000&fractal=leaves'}
      %img{src: '/png?zoom-level=700000000&canvas-width=440&canvas-height=340&x=0.2849168220165127&y=0.01109730176398834&max-iterations=180&gradient-colors=000000ff0000ff9000000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=400000&canvas-width=440&canvas-height=340&x=-0.811536499240561&y=0.20141478244530064&max-iterations=160&gradient-colors=00000000ff00000000&fractal=leaves'}
      %img{src: '/png?zoom-level=400000&canvas-width=440&canvas-height=340&x=-0.811536499240561&y=0.20141478244530064&max-iterations=160&gradient-colors=00000000ff00000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=600000&canvas-width=440&canvas-height=340&x=-0.7766091143615558&y=0.13460857921922317&max-iterations=200&gradient-colors=0000002c2c2c0c0c0c2c2c2c0000002c2c2c0c0c0c1818180000001818180c0c0c1818180000001818180c0c0c1818180000002c2c2c0c0c0c2c2c2c0000002c2c2c0c0c0c1818180000001818180c0c0cff0000181818000000&fractal=leaves'}
      %img{src: '/png?zoom-level=600000&canvas-width=440&canvas-height=340&x=-0.7766091143615558&y=0.13460857921922317&max-iterations=200&gradient-colors=0000002c2c2c0c0c0c2c2c2c0000002c2c2c0c0c0c1818180000001818180c0c0c1818180000001818180c0c0c1818180000002c2c2c0c0c0c2c2c2c0000002c2c2c0c0c0c1818180000001818180c0c0cff0000181818000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=80000000000000&canvas-width=440&canvas-height=340&x=-1.2298996614843054&y=0.3154981672589487&max-iterations=1200&fractal=leaves&gradient-colors=00ff00002e0000ff0000000000ff00002e0000ff0000000000ff00002e0000ff0000000000ff00002e0000ff0000000000ff00002e0000ff0000000000ff00002e0000ff00000000'}
      %img{src: '/png?zoom-level=80000000000000&canvas-width=440&canvas-height=340&x=-1.2298996614843054&y=0.3154981672589487&max-iterations=1200&fractal=leaves&gradient-colors=00ff00002e0000ff0000000000ff00002e0000ff0000000000ff00002e0000ff0000000000ff00002e0000ff0000000000ff00002e0000ff0000000000ff00002e0000ff00000000'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1000000000000&canvas-width=440&canvas-height=340&x=-1.9403565216899863&y=3.717830451482733e-7&max-iterations=294&fractal=leaves&gradient-colors=ff00000003ff00ff00ffff00000000'}
      %img{src: '/png?zoom-level=1000000000000&canvas-width=440&canvas-height=340&x=-1.9403565216899863&y=3.717830451482733e-7&max-iterations=294&fractal=leaves&gradient-colors=ff00000003ff00ff00ffff00000000'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=400000000000&canvas-width=440&canvas-height=340&x=-1.2298996634468515&y=0.3154981664264003&max-iterations=1200&fractal=leaves&gradient-colors=ff00000003ff00ff00ffff00000000'}
      %img{src: '/png?zoom-level=400000000000&canvas-width=440&canvas-height=340&x=-1.2298996634468515&y=0.3154981664264003&max-iterations=1200&fractal=leaves&gradient-colors=ff00000003ff00ff00ffff00000000'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=120000000000&canvas-width=440&canvas-height=340&x=-1.7219733118383576&y=3.921803242208347e-7&max-iterations=159&fractal=leaves&gradient-colors=ff00000003ff00ff00ffff00000000'}
      %img{src: '/png?zoom-level=120000000000&canvas-width=440&canvas-height=340&x=-1.7219733118383576&y=3.921803242208347e-7&max-iterations=159&fractal=leaves&gradient-colors=ff00000003ff00ff00ffff00000000'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=70000000000000&canvas-width=440&canvas-height=340&x=-1.94130829002612&y=0.0028260424159254915&max-iterations=500&fractal=leaves&gradient-colors=ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00000000'}
      %img{src: '/png?zoom-level=70000000000000&canvas-width=440&canvas-height=340&x=-1.94130829002612&y=0.0028260424159254915&max-iterations=500&fractal=leaves&gradient-colors=ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00000000'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=80000000000000&canvas-width=440&canvas-height=340&x=-1.7665202307799095&y=0.04172747636429791&max-iterations=700&fractal=tendrils&gradient-colors=ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00000000'}
      %img{src: '/png?zoom-level=80000000000000&canvas-width=440&canvas-height=340&x=-1.7665202307799095&y=0.04172747636429791&max-iterations=700&fractal=tendrils&gradient-colors=ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00ff3e00ffff00000000'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=220000000000&canvas-width=440&canvas-height=340&x=-1.2298996683263492&y=0.31549816939862074&max-iterations=1200&fractal=leaves&gradient-colors=ff007f5b002eff007f000000'}
      %img{src: '/png?zoom-level=220000000000&canvas-width=440&canvas-height=340&x=-1.2298996683263492&y=0.31549816939862074&max-iterations=1200&fractal=leaves&gradient-colors=ff007f5b002eff007f000000'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=42000000000&canvas-width=440&canvas-height=340&x=-1.7497689052559247&y=0.00004213929861606394&max-iterations=800&fractal=leaves&gradient-colors=100010cc00cc330033ff00ff100010'}
      %img{src: '/png?zoom-level=42000000000&canvas-width=440&canvas-height=340&x=-1.7497689052559247&y=0.00004213929861606394&max-iterations=800&fractal=leaves&gradient-colors=100010cc00cc330033ff00ff100010'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=500000000000&canvas-width=440&canvas-height=340&x=-0.15451613834798525&y=1.0307922093148538&max-iterations=750&fractal=leaves&gradient-colors=ff0000ffff0000ff000000ffff00ff000000'}
      %img{src: '/png?zoom-level=500000000000&canvas-width=440&canvas-height=340&x=-0.15451613834798525&y=1.0307922093148538&max-iterations=750&fractal=leaves&gradient-colors=ff0000ffff0000ff000000ffff00ff000000'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=50000000000&canvas-width=440&canvas-height=340&x=-0.18261781606240873&y=0.6635468898717802&max-iterations=750&fractal=leaves&gradient-colors=100000cc0000330000ff0000100000'}
      %img{src: '/png?zoom-level=50000000000&canvas-width=440&canvas-height=340&x=-0.18261781606240873&y=0.6635468898717802&max-iterations=750&fractal=leaves&gradient-colors=100000cc0000330000ff0000100000'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=600000000&canvas-width=440&canvas-height=340&x=-0.805947917567359&y=0.17983629425366715&max-iterations=300&fractal=leaves&gradient-colors=460000ff0000460000ff0000000000'}
      %img{src: '/png?zoom-level=600000000&canvas-width=440&canvas-height=340&x=-0.805947917567359&y=0.17983629425366715&max-iterations=300&fractal=leaves&gradient-colors=460000ff0000460000ff0000000000'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=100000000000&canvas-width=440&canvas-height=340&x=0.27546660751622587&y=0.00678395741979281&max-iterations=231&fractal=tendrils&gradient-colors=ff0000151515ff0000151515000000'}
      %img{src: '/png?zoom-level=100000000000&canvas-width=440&canvas-height=340&x=0.27546660751622587&y=0.00678395741979281&max-iterations=231&fractal=tendrils&gradient-colors=ff0000151515ff0000151515000000'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=120000000000&canvas-width=440&canvas-height=340&x=-0.23996520608980051&y=0.7243044125801689&max-iterations=339&fractal=leaves&gradient-colors=710000300000710000ff0000000000'}
      %img{src: '/png?zoom-level=120000000000&canvas-width=440&canvas-height=340&x=-0.23996520608980051&y=0.7243044125801689&max-iterations=339&fractal=leaves&gradient-colors=710000300000710000ff0000000000'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=70000000000000&canvas-width=440&canvas-height=340&x=-1.2298996614843054&y=0.3154981672589487&max-iterations=1200&fractal=leaves&gradient-colors=00ffff00014000ffff000000'}
      %img{src: '/png?zoom-level=70000000000000&canvas-width=440&canvas-height=340&x=-1.2298996614843054&y=0.3154981672589487&max-iterations=1200&fractal=leaves&gradient-colors=00ffff00014000ffff000000'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=2500000000&canvas-width=440&canvas-height=340&x=-0.5110279367033365&y=0.5198144551460018&max-iterations=750&fractal=leaves&gradient-colors=00ffff0048a4006fffffffff'}
      %img{src: '/png?zoom-level=2500000000&canvas-width=440&canvas-height=340&x=-0.5110279367033365&y=0.5198144551460018&max-iterations=750&fractal=leaves&gradient-colors=00ffff0048a4006fffffffff'}
  .columns.medium-6.large-4.left
    %a{href: '/explore/#zoom-level=250000000&canvas-width=440&canvas-height=340&x=-1.927123367818952&y=-0.00070435&max-iterations=84&fractal=burning-ship&gradient-colors=000000ff0000ff9000000000'}
      %img{src: '/png?zoom-level=250000000&canvas-width=440&canvas-height=340&x=-1.927123367818952&y=-0.00070435&max-iterations=84&fractal=burning-ship&gradient-colors=000000ff0000ff9000000000'}
  .columns.medium-6.large-4.left
    %a{href: '/explore/#zoom-level=18000000000&canvas-width=440&canvas-height=340&x=-1.927127386&y=-0.000700204&max-iterations=56&fractal=burning-ship&gradient-colors=000000ff00009600b5000000'}
      %img{src: '/png?zoom-level=18000000000&canvas-width=440&canvas-height=340&x=-1.927127386&y=-0.000700204&max-iterations=56&fractal=burning-ship&gradient-colors=000000ff00009600b5000000'}
  .columns.medium-6.large-4.left
    %a{href: '/explore/#zoom-level=6000000000000&canvas-width=440&canvas-height=340&x=-1.748547231689029&y=0.0000025562811069760414&max-iterations=500&fractal=leaves&gradient-colors=00245cff0000ff900000245c'}
      %img{src: '/png?zoom-level=6000000000000&canvas-width=440&canvas-height=340&x=-1.748547231689029&y=0.0000025562811069760414&max-iterations=500&fractal=leaves&gradient-colors=00245cff0000ff900000245c'}










  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=25833600000&x=-1.7495793083735995&y=8.199709945203813e-7&canvas-width=1600&canvas-height=900&max-iterations=500&gradient-colors=00000000ffff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=25833600000&x=-1.7495793083735995&y=8.199709945203813e-7&canvas-width=1600&canvas-height=900&max-iterations=500&gradient-colors=00000000ffff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=103680000000000&canvas-width=1600&canvas-height=900&x=-1.7483964740476414&y=0.0008998687484510951&max-iterations=380&gradient-colors=0000000000230000c60000670000ff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=103680000000000&canvas-width=1600&canvas-height=900&x=-1.7483964740476414&y=0.0008998687484510951&max-iterations=380&gradient-colors=0000000000230000c60000670000ff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=10000000000&x=0.27726916606991536&y=0.007359977772021018&canvas-width=1600&canvas-height=900&max-iterations=700&gradient-colors=00000000ffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=10000000000&x=0.27726916606991536&y=0.007359977772021018&canvas-width=1600&canvas-height=900&max-iterations=700&gradient-colors=00000000ffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=10717866&x=0.2803034076776204&y=0.008197048854400216&canvas-width=1600&canvas-height=900&max-iterations=200&gradient-colors=620000ff0000ff9000000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=10717866&x=0.2803034076776204&y=0.008197048854400216&canvas-width=1600&canvas-height=900&max-iterations=200&gradient-colors=620000ff0000ff9000000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1108101562368&x=-1.2298996683263492&y=0.31549816939862074&canvas-width=1600&canvas-height=900&max-iterations=1200&gradient-colors=000000ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=1108101562368&x=-1.2298996683263492&y=0.31549816939862074&canvas-width=1600&canvas-height=900&max-iterations=1200&gradient-colors=000000ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1179648000000&canvas-width=1600&canvas-height=900&x=-1.7483610169511408&y=0.0009146183896507075&max-iterations=600&gradient-colors=000006001224005ec6002f66007cff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=1179648000000&canvas-width=1600&canvas-height=900&x=-1.7483610169511408&y=0.0009146183896507075&max-iterations=600&gradient-colors=000006001224005ec6002f66007cff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=603147912987&canvas-width=1600&canvas-height=900&x=0.02327931825512012&y=0.8528725870327479&max-iterations=1500&gradient-colors=00000000ffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=603147912987&canvas-width=1600&canvas-height=900&x=0.02327931825512012&y=0.8528725870327479&max-iterations=1500&gradient-colors=00000000ffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=120795955200&x=-1.749768905523518&y=0.00004213941059709382&canvas-width=1600&canvas-height=900&max-iterations=1500&gradient-colors=0000000000ff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=120795955200&x=-1.749768905523518&y=0.00004213941059709382&canvas-width=1600&canvas-height=900&max-iterations=1500&gradient-colors=0000000000ff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=121030836224&x=-0.18261781606240873&y=0.6635468898717802&canvas-width=1600&canvas-height=900&max-iterations=750&gradient-colors=ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=121030836224&x=-0.18261781606240873&y=0.6635468898717802&canvas-width=1600&canvas-height=900&max-iterations=750&gradient-colors=ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=109951162777600&x=-0.608974621727648&y=0.6724063585654039&canvas-width=1440&canvas-height=801&max-iterations=800&gradient-colors=000000ff0000ff9000000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=109951162777600&x=-0.608974621727648&y=0.6724063585654039&canvas-width=1440&canvas-height=801&max-iterations=800&gradient-colors=000000ff0000ff9000000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1250000000&canvas-width=1600&canvas-height=900&x=-0.1575340747851863&y=0.6503987624567416&max-iterations=800&gradient-colors=ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=1250000000&canvas-width=1600&canvas-height=900&x=-0.1575340747851863&y=0.6503987624567416&max-iterations=800&gradient-colors=ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=134217728000&x=-0.15583251016214492&y=-0.650106275230646&canvas-width=1600&canvas-height=880&max-iterations=1400&gradient-colors=00245cff0000ff900004a03f&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=134217728000&x=-0.15583251016214492&y=-0.650106275230646&canvas-width=1600&canvas-height=880&max-iterations=1400&gradient-colors=00245cff0000ff900004a03f&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=13421772800&x=-0.2270190215839236&y=0.6938252538845824&canvas-width=1600&canvas-height=900&max-iterations=750&gradient-colors=00000000ffff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=13421772800&x=-0.2270190215839236&y=0.6938252538845824&canvas-width=1600&canvas-height=900&max-iterations=750&gradient-colors=00000000ffff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=13421772800&x=-0.5110279367033365&y=0.5198144551460018&canvas-width=1600&canvas-height=900&max-iterations=750&gradient-colors=ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=13421772800&x=-0.5110279367033365&y=0.5198144551460018&canvas-width=1600&canvas-height=900&max-iterations=750&gradient-colors=ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=135098688&x=-1.282425069147701&y=0.06192560820055796&canvas-width=1600&canvas-height=900&max-iterations=300&gradient-colors=002e2e00ffff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=135098688&x=-1.282425069147701&y=0.06192560820055796&canvas-width=1600&canvas-height=900&max-iterations=300&gradient-colors=002e2e00ffff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=136801157120&x=-1.7488503204030599&y=0.0005144709907003813&canvas-width=1600&canvas-height=900&max-iterations=500&gradient-colors=00245cff0000ff900004a03f&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=136801157120&x=-1.7488503204030599&y=0.0005144709907003813&canvas-width=1600&canvas-height=900&max-iterations=500&gradient-colors=00245cff0000ff900004a03f&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1371886933&x=-0.057866308224139566&y=0.6692519348945098&canvas-width=1600&canvas-height=900&max-iterations=200&gradient-colors=ffffff222222dddddd000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=1371886933&x=-0.057866308224139566&y=0.6692519348945098&canvas-width=1600&canvas-height=900&max-iterations=200&gradient-colors=ffffff222222dddddd000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1433822822&x=0.25703807047078187&y=0.0009387574105892562&canvas-width=1600&canvas-height=774&max-iterations=200&gradient-colors=ff0000ffff00260064&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=1433822822&x=0.25703807047078187&y=0.0009387574105892562&canvas-width=1600&canvas-height=774&max-iterations=200&gradient-colors=ff0000ffff00260064&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=144000000000000&canvas-width=1600&canvas-height=900&x=-0.15451613818652304&y=1.030792209463045&max-iterations=1200&gradient-colors=000000ff0000440044000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=144000000000000&canvas-width=1600&canvas-height=900&x=-0.15451613818652304&y=1.030792209463045&max-iterations=1200&gradient-colors=000000ff0000440044000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1500000000000&x=-0.15451613834798525&y=1.0307922093148538&canvas-width=1600&canvas-height=900&max-iterations=750&gradient-colors=000000ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=1500000000000&x=-0.15451613834798525&y=1.0307922093148538&canvas-width=1600&canvas-height=900&max-iterations=750&gradient-colors=000000ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=15000000000&x=-1.4082827742000494&y=0.13655004443602348&canvas-width=1600&canvas-height=900&max-iterations=2000&gradient-colors=0000002c0000100000710000ff0000000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=15000000000&x=-1.4082827742000494&y=0.13655004443602348&canvas-width=1600&canvas-height=900&max-iterations=2000&gradient-colors=0000002c0000100000710000ff0000000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1536000000000000&x=-0.15451613816801255&y=1.0307922094541782&canvas-width=1600&canvas-height=900&max-iterations=800&gradient-colors=000000ff0000440044000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=1536000000000000&x=-0.15451613816801255&y=1.0307922094541782&canvas-width=1600&canvas-height=900&max-iterations=800&gradient-colors=000000ff0000440044000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1653226135136&canvas-width=1600&canvas-height=900&x=0.2712454315387708&y=0.00520289961769758&max-iterations=1112&gradient-colors=000000ffef00&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=1653226135136&canvas-width=1600&canvas-height=900&x=0.2712454315387708&y=0.00520289961769758&max-iterations=1112&gradient-colors=000000ffef00&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1565000000000000&x=-1.250004820409014&y=0.02543000014183623&canvas-width=1600&canvas-height=900&max-iterations=800&gradient-colors=ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=1565000000000000&x=-1.250004820409014&y=0.02543000014183623&canvas-width=1600&canvas-height=900&max-iterations=800&gradient-colors=ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=157840048128&canvas-width=1600&canvas-height=900&x=-0.29182272821389216&y=0.66406633725808&max-iterations=350&gradient-colors=00000000ff001400147d007d1400147d007d000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=157840048128&canvas-width=1600&canvas-height=900&x=-0.29182272821389216&y=0.66406633725808&max-iterations=350&gradient-colors=00000000ff001400147d007d1400147d007d000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1601663&x=-0.7766091143615558&y=0.13460857921922317&canvas-width=1600&canvas-height=900&max-iterations=200&gradient-colors=ffffff222222dddddd000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=1601663&x=-0.7766091143615558&y=0.13460857921922317&canvas-width=1600&canvas-height=900&max-iterations=200&gradient-colors=ffffff222222dddddd000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1605632&x=-0.811536499240561&y=0.20141478244530064&canvas-width=1600&canvas-height=900&max-iterations=160&gradient-colors=00000000ff00000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=1605632&x=-0.811536499240561&y=0.20141478244530064&canvas-width=1600&canvas-height=900&max-iterations=160&gradient-colors=00000000ff00000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=166026255794176&x=-1.9413082900261767&y=0.0028260424159254915&canvas-width=1600&canvas-height=900&max-iterations=500&gradient-colors=000000ff0000ff9000000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=166026255794176&x=-1.9413082900261767&y=0.0028260424159254915&canvas-width=1600&canvas-height=900&max-iterations=500&gradient-colors=000000ff0000ff9000000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1662152343552&x=-1.2298996634468515&y=0.3154981664264003&canvas-width=1600&canvas-height=900&max-iterations=1200&gradient-colors=000000ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=1662152343552&x=-1.2298996634468515&y=0.3154981664264003&canvas-width=1600&canvas-height=900&max-iterations=1200&gradient-colors=000000ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=180000000000&x=-1.4082827874111605&y=0.13655004978046792&canvas-width=1600&canvas-height=900&max-iterations=2000&gradient-colors=00000000002c0000100000710000ff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=180000000000&x=-1.4082827874111605&y=0.13655004978046792&canvas-width=1600&canvas-height=900&max-iterations=2000&gradient-colors=00000000002c0000100000710000ff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=18000000&x=-0.7824941387476562&y=-0.13892028074171872&canvas-width=1600&canvas-height=900&max-iterations=400&gradient-colors=ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=18000000&x=-0.7824941387476562&y=-0.13892028074171872&canvas-width=1600&canvas-height=900&max-iterations=400&gradient-colors=ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=181193932800&x=-1.7497689052559247&y=0.00004213929861606394&canvas-width=1600&canvas-height=900&max-iterations=800&gradient-colors=00000000ffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=181193932800&x=-1.7497689052559247&y=0.00004213929861606394&canvas-width=1600&canvas-height=900&max-iterations=800&gradient-colors=00000000ffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=190000000000&x=0.275113522467918&y=0.007795925817402531&canvas-width=1600&canvas-height=900&max-iterations=350&gradient-colors=404040ffffff909090ffffff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=190000000000&x=0.275113522467918&y=0.007795925817402531&canvas-width=1600&canvas-height=900&max-iterations=350&gradient-colors=404040ffffff909090ffffff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=1904659660800000&x=-1.7495792997395023&y=8.242950631030804e-7&canvas-width=1600&canvas-height=900&max-iterations=900&gradient-colors=0000000000ff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=1904659660800000&x=-1.7495792997395023&y=8.242950631030804e-7&canvas-width=1600&canvas-height=900&max-iterations=900&gradient-colors=0000000000ff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=19495507812500&x=-1.0511426581607997&y=-0.2457918904429057&canvas-width=1600&canvas-height=900&max-iterations=700&gradient-colors=317fff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=19495507812500&x=-1.0511426581607997&y=-0.2457918904429057&canvas-width=1600&canvas-height=900&max-iterations=700&gradient-colors=317fff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=195226698752&x=-0.15451613834667688&y=1.030792209310201&canvas-width=1600&canvas-height=900&max-iterations=700&gradient-colors=0000000000ff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=195226698752&x=-0.15451613834667688&y=1.030792209310201&canvas-width=1600&canvas-height=900&max-iterations=700&gradient-colors=0000000000ff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=19879056066929&canvas-width=1600&canvas-height=900&x=0.2739413525474387&y=0.00610288167536455&max-iterations=400&gradient-colors=0000ff0000000000ff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=19879056066929&canvas-width=1600&canvas-height=900&x=0.2739413525474387&y=0.00610288167536455&max-iterations=400&gradient-colors=0000ff0000000000ff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=20000000&x=-0.15575164794921884&y=-0.6500534057617188&canvas-width=1600&canvas-height=900&max-iterations=600&gradient-colors=ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=20000000&x=-0.15575164794921884&y=-0.6500534057617188&canvas-width=1600&canvas-height=900&max-iterations=600&gradient-colors=ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=20000000&x=-0.157524208651853&y=0.650405767790075&canvas-width=1600&canvas-height=900&max-iterations=800&gradient-colors=ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=20000000&x=-0.157524208651853&y=0.650405767790075&canvas-width=1600&canvas-height=900&max-iterations=800&gradient-colors=ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=203843174400000&canvas-width=1600&canvas-height=900&x=-1.7483964739939206&y=0.0008998687493705779&max-iterations=5000&gradient-colors=0000060000230000c60000670000ff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=203843174400000&canvas-width=1600&canvas-height=900&x=-1.7483964739939206&y=0.0008998687493705779&max-iterations=5000&gradient-colors=0000060000230000c60000670000ff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=20727753725583&x=-1.2824250236936916&y=0.06192559107087814&canvas-width=1600&canvas-height=900&max-iterations=800&gradient-colors=000000ffffff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=20727753725583&x=-1.2824250236936916&y=0.06192559107087814&canvas-width=1600&canvas-height=900&max-iterations=800&gradient-colors=000000ffffff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=212746461056&x=0.25038875265800536&y=0.00001222184928175729&canvas-width=1600&canvas-height=900&max-iterations=1000&gradient-colors=0000ff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=212746461056&x=0.25038875265800536&y=0.00001222184928175729&canvas-width=1600&canvas-height=900&max-iterations=1000&gradient-colors=0000ff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=231790899200&canvas-width=1600&canvas-height=900&x=-0.8364537015276295&y=0.19439621087387124&max-iterations=700&gradient-colors=000000ff0000000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=231790899200&canvas-width=1600&canvas-height=900&x=-0.8364537015276295&y=0.19439621087387124&max-iterations=700&gradient-colors=000000ff0000000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=2400000000&x=-0.7073933835806491&y=-0.2571161343476063&canvas-width=1600&canvas-height=900&max-iterations=700&gradient-colors=ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=2400000000&x=-0.7073933835806491&y=-0.2571161343476063&canvas-width=1600&canvas-height=900&max-iterations=700&gradient-colors=ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=241180378&x=-0.04929105806782004&y=-0.6743394380978351&canvas-width=1600&canvas-height=900&max-iterations=440&gradient-colors=b4b4b4000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=241180378&x=-0.04929105806782004&y=-0.6743394380978351&canvas-width=1600&canvas-height=900&max-iterations=440&gradient-colors=b4b4b4000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=2494201856&x=0.2849168220165127&y=0.01109730176398834&canvas-width=1583&canvas-height=885&max-iterations=200&gradient-colors=000000ff0000ff9000000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=2494201856&x=0.2849168220165127&y=0.01109730176398834&canvas-width=1583&canvas-height=885&max-iterations=200&gradient-colors=000000ff0000ff9000000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=260000000000000&canvas-width=1600&canvas-height=900&x=-1.2298996614843054&y=0.3154981672589487&max-iterations=1200&gradient-colors=fffffffe0000000000ff0000ffffff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=260000000000000&canvas-width=1600&canvas-height=900&x=-1.2298996614843054&y=0.3154981672589487&max-iterations=1200&gradient-colors=fffffffe0000000000ff0000ffffff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=262278217728&x=-1.9668012414268932&y=0.000011660011350642123&canvas-width=1600&canvas-height=890&max-iterations=200&gradient-colors=000000ffffff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=262278217728&x=-1.9668012414268932&y=0.000011660011350642123&canvas-width=1600&canvas-height=890&max-iterations=200&gradient-colors=000000ffffff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=27063720&x=-0.168541352982166&y=0.6513116614065088&canvas-width=1600&canvas-height=880&max-iterations=400&gradient-colors=ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=27063720&x=-0.168541352982166&y=0.6513116614065088&canvas-width=1600&canvas-height=880&max-iterations=400&gradient-colors=ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=27156250&x=-0.4551708458621157&y=0.5775849643072424&canvas-width=1600&canvas-height=900&max-iterations=200&gradient-colors=000b0b00ffff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=27156250&x=-0.4551708458621157&y=0.5775849643072424&canvas-width=1600&canvas-height=900&max-iterations=200&gradient-colors=000b0b00ffff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=283673999966208&x=-1.2298996614843054&y=0.3154981672589569&canvas-width=1600&canvas-height=900&max-iterations=1200&gradient-colors=000000ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=283673999966208&x=-1.2298996614843054&y=0.3154981672589569&canvas-width=1600&canvas-height=900&max-iterations=1200&gradient-colors=000000ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=3222874739441664&x=-1.9668012415493865&y=0.000011660390634309291&canvas-width=1600&canvas-height=900&max-iterations=1000&gradient-colors=000000ffffff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=3222874739441664&x=-1.9668012415493865&y=0.000011660390634309291&canvas-width=1600&canvas-height=900&max-iterations=1000&gradient-colors=000000ffffff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=3324163455&x=0.250388657742208&y=0.000012216857424334074&canvas-width=1600&canvas-height=900&max-iterations=1000&gradient-colors=0000ff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=3324163455&x=0.250388657742208&y=0.000012216857424334074&canvas-width=1600&canvas-height=900&max-iterations=1000&gradient-colors=0000ff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=35021163331582&x=-1.748547231689029&y=0.0000025562811069760414&canvas-width=1600&canvas-height=900&max-iterations=500&gradient-colors=00245cff0000ff900000245c&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=35021163331582&x=-1.748547231689029&y=0.0000025562811069760414&canvas-width=1600&canvas-height=900&max-iterations=500&gradient-colors=00245cff0000ff900000245c&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=350666495&x=-0.7469368940403756&y=0.09273671987964245&canvas-width=1600&canvas-height=900&max-iterations=400&gradient-colors=ffffff222222dddddd000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=350666495&x=-0.7469368940403756&y=0.09273671987964245&canvas-width=1600&canvas-height=900&max-iterations=400&gradient-colors=ffffff222222dddddd000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=3686400000&canvas-width=1600&canvas-height=900&x=-1.7483610312443876&y=0.0009146068853714649&max-iterations=600&gradient-colors=0000060000230000c60000670000ff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=3686400000&canvas-width=1600&canvas-height=900&x=-1.7483610312443876&y=0.0009146068853714649&max-iterations=600&gradient-colors=0000060000230000c60000670000ff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=42000000&x=-0.22338953871486883&y=0.6456309585811364&canvas-width=1600&canvas-height=900&max-iterations=1600&gradient-colors=da0000ff0000ff9000ff0000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=42000000&x=-0.22338953871486883&y=0.6456309585811364&canvas-width=1600&canvas-height=900&max-iterations=1600&gradient-colors=da0000ff0000ff9000ff0000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=43956305&x=0.27139889431601233&y=0.005244075260648081&canvas-width=1600&canvas-height=900&max-iterations=600&gradient-colors=ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=43956305&x=0.27139889431601233&y=0.005244075260648081&canvas-width=1600&canvas-height=900&max-iterations=600&gradient-colors=ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=44236800&x=-0.22338953871486883&y=0.6456309585811364&canvas-width=1600&canvas-height=892&max-iterations=680&gradient-colors=000000ff0000ff9000ff0000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=44236800&x=-0.22338953871486883&y=0.6456309585811364&canvas-width=1600&canvas-height=892&max-iterations=680&gradient-colors=000000ff0000ff9000ff0000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=450000&x=-0.707400845852455&y=-0.2569885870208688&canvas-width=1600&canvas-height=900&max-iterations=600&gradient-colors=ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=450000&x=-0.707400845852455&y=-0.2569885870208688&canvas-width=1600&canvas-height=900&max-iterations=600&gradient-colors=ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=4638562500&x=-1.0511426558088295&y=-0.24579190297195969&canvas-width=1600&canvas-height=900&max-iterations=750&gradient-colors=00000000ffff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=4638562500&x=-1.0511426558088295&y=-0.24579190297195969&canvas-width=1600&canvas-height=900&max-iterations=750&gradient-colors=00000000ffff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=494780232499200&x=-1.7497689047648053&y=0.00004214044644284177&canvas-width=1600&canvas-height=900&max-iterations=1500&gradient-colors=000000ff0000ff9000000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=494780232499200&x=-1.7497689047648053&y=0.00004214044644284177&canvas-width=1600&canvas-height=900&max-iterations=1500&gradient-colors=000000ff0000ff9000000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=518037480407&x=-1.7110310184452688&y=0.000001612026033871381&canvas-width=1600&canvas-height=900&max-iterations=600&gradient-colors=00000000ffff00000000ffff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=518037480407&x=-1.7110310184452688&y=0.000001612026033871381&canvas-width=1600&canvas-height=900&max-iterations=600&gradient-colors=00000000ffff00000000ffff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=5250000000000&x=-1.262446006329066&y=-0.40797567322895595&canvas-width=1600&canvas-height=900&max-iterations=800&gradient-colors=000000ff0000ff9000000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=5250000000000&x=-1.262446006329066&y=-0.40797567322895595&canvas-width=1600&canvas-height=900&max-iterations=800&gradient-colors=000000ff0000ff9000000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=5289147363328&x=-1.2298957534528696&y=0.31549464998474364&canvas-width=1600&canvas-height=900&max-iterations=1600&gradient-colors=00245cff0000ff900004a03f&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=5289147363328&x=-1.2298957534528696&y=0.31549464998474364&canvas-width=1600&canvas-height=900&max-iterations=1600&gradient-colors=00245cff0000ff900004a03f&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=53188874993664&x=-1.2298959219244798&y=0.31549472216196145&canvas-width=1600&canvas-height=900&max-iterations=2500&gradient-colors=000000ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=53188874993664&x=-1.2298959219244798&y=0.31549472216196145&canvas-width=1600&canvas-height=900&max-iterations=2500&gradient-colors=000000ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=579820584960&x=-1.2542854363370377&y=0.38052171118065936&canvas-width=1600&canvas-height=880&max-iterations=1200&gradient-colors=ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=579820584960&x=-1.2542854363370377&y=0.38052171118065936&canvas-width=1600&canvas-height=880&max-iterations=1200&gradient-colors=ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=598000000&x=-1.7495792803146377&y=1.3491371084236044e-8&canvas-width=1600&canvas-height=900&max-iterations=400&gradient-colors=00000000ffff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=598000000&x=-1.7495792803146377&y=1.3491371084236044e-8&canvas-width=1600&canvas-height=900&max-iterations=400&gradient-colors=00000000ffff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=600000000000&x=-1.2500182825385193&y=0.02541253964137125&canvas-width=1600&canvas-height=900&max-iterations=750&gradient-colors=ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=600000000000&x=-1.2500182825385193&y=0.02541253964137125&canvas-width=1600&canvas-height=900&max-iterations=750&gradient-colors=ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=60000000000&x=0.4143803645244887&y=0.623461609951304&canvas-width=1600&canvas-height=900&max-iterations=750&gradient-colors=ffffff000000ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=60000000000&x=0.4143803645244887&y=0.623461609951304&canvas-width=1600&canvas-height=900&max-iterations=750&gradient-colors=ffffff000000ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=650000000&x=-0.15884863840796118&y=-0.6497666684417412&canvas-width=1600&canvas-height=900&max-iterations=1400&gradient-colors=fffffff0f0f0ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=650000000&x=-0.15884863840796118&y=-0.6497666684417412&canvas-width=1600&canvas-height=900&max-iterations=1400&gradient-colors=fffffff0f0f0ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=650687545344&x=-0.04510536617924338&y=0.9868237621122647&canvas-width=1600&canvas-height=900&max-iterations=1000&gradient-colors=000000ff0000ff9000000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=650687545344&x=-0.04510536617924338&y=0.9868237621122647&canvas-width=1600&canvas-height=900&max-iterations=1000&gradient-colors=000000ff0000ff9000000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=6576668672&x=-0.7110373506664621&y=0.2584301519910899&canvas-width=1600&canvas-height=900&max-iterations=800&gradient-colors=0000000000db0000330000db000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=6576668672&x=-0.7110373506664621&y=0.2584301519910899&canvas-width=1600&canvas-height=900&max-iterations=800&gradient-colors=0000000000db0000330000db000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=6648326910&x=0.2503886800034478&y=0.000012231372354376828&canvas-width=1600&canvas-height=900&max-iterations=3000&gradient-colors=350000ff0000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=6648326910&x=0.2503886800034478&y=0.000012231372354376828&canvas-width=1600&canvas-height=900&max-iterations=3000&gradient-colors=350000ff0000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=6807886753792&x=0.2503887520671098&y=0.000012223291836599222&canvas-width=1600&canvas-height=900&max-iterations=1000&gradient-colors=0000ff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=6807886753792&x=0.2503887520671098&y=0.000012223291836599222&canvas-width=1600&canvas-height=900&max-iterations=1000&gradient-colors=0000ff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=6808175999188992&x=0.25629505364518107&y=-0.0009259445268308666&canvas-width=1600&canvas-height=900&max-iterations=2000&gradient-colors=00000000ffff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=6808175999188992&x=0.25629505364518107&y=-0.0009259445268308666&canvas-width=1600&canvas-height=900&max-iterations=2000&gradient-colors=00000000ffff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=79360819200000&x=-1.7495792997394946&y=8.242950636281087e-7&canvas-width=1600&canvas-height=900&max-iterations=600&gradient-colors=00000000ffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=79360819200000&x=-1.7495792997394946&y=8.242950636281087e-7&canvas-width=1600&canvas-height=900&max-iterations=600&gradient-colors=00000000ffff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=824931959040&canvas-width=1600&canvas-height=900&x=0.2743523804959702&y=0.006241672740053836&max-iterations=879&gradient-colors=0000000000ff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=824931959040&canvas-width=1600&canvas-height=900&x=0.2743523804959702&y=0.006241672740053836&max-iterations=879&gradient-colors=0000000000ff000000&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=838860800&x=-1.9990958338927616&y=1.7703170991327214e-9&canvas-width=1600&canvas-height=885&max-iterations=200&gradient-colors=000000ffffff000000ffffff&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=838860800&x=-1.9990958338927616&y=1.7703170991327214e-9&canvas-width=1600&canvas-height=885&max-iterations=200&gradient-colors=000000ffffff000000ffffff&fractal=leaves'}
  .columns.medium-6.large-4
    %a{href: '/explore/#zoom-level=9021240&x=-0.1684880343696471&y=0.6512659914099229&canvas-width=1600&canvas-height=880&max-iterations=1000&gradient-colors=ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=9021240&x=-0.1684880343696471&y=0.6512659914099229&canvas-width=1600&canvas-height=880&max-iterations=1000&gradient-colors=ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4.left
    %a{href: '/explore/#zoom-level=935046385056&x=-1.7496680660459185&y=0.00007315743478031328&canvas-width=1600&canvas-height=900&max-iterations=900&gradient-colors=0000ff0000000000ff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=935046385056&x=-1.7496680660459185&y=0.00007315743478031328&canvas-width=1600&canvas-height=900&max-iterations=900&gradient-colors=0000ff0000000000ff000000&fractal=leaves'}
  .columns.medium-6.large-4.left
    %a{href: '/explore/#zoom-level=97645953286144&x=-1.9999999448492796&y=-1.0687060992560886e-14&canvas-width=1600&canvas-height=900&max-iterations=200&gradient-colors=000000ffffff000000&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=97645953286144&x=-1.9999999448492796&y=-1.0687060992560886e-14&canvas-width=1600&canvas-height=900&max-iterations=200&gradient-colors=000000ffffff000000&fractal=leaves'}
  .columns.medium-6.large-4.left
    %a{href: '/explore/#zoom-level=118226944&x=0.2519357837593617&y=0.00013668227056360183&canvas-width=1600&canvas-height=880&max-iterations=1000&gradient-colors=00245cff0000ff900004a03f&fractal=leaves'}
      %img{src: '/png?png-width=440&png-height=340&zoom-level=118226944&x=0.2519357837593617&y=0.00013668227056360183&canvas-width=1600&canvas-height=880&max-iterations=1000&gradient-colors=00245cff0000ff900004a03f&fractal=leaves'}
