---
layout: general
title: 404 Not Found
nav: true
---
.row.text-center
  .columns
    %h1.medium-margin 404 Page Not Found
    %p
      The page you are looking for is either missing or was never here.
    %a.button{href: '/'} Explore The Mandelbrot Set