---
layout: general
title: 500 Internal Server Error
nav: true
---
.row.text-center
  .columns
    %h1.medium-margin #{page.title}
    %p
      Something has gone wrong on the server.
    %p
      Please try back again after a while. If you know how to contact us, please let us know that something is wrong.